<li>
    {{burger_name}}
    <button class="change-devoured btn btn-secondary" data-id="{{id}}" data-newdevoured="{{devoured}}">
       {{#if devoured}} Devour! {{else}}Try again {{/if}}
    </button>
</li>
